$primary: #2d2e32;
$primary-black: #060608;
$primary-light: #2c364c;
// #333438;
$brown-dark: #46432e;
$text-color: #ddcebb;
$green-light: #12993d;
$yellow-dark: #df9b49;
$pink-dark: #894555;

// #25262A
