.introduction {
  z-index: 10;
  background-color: #25262a;
  min-height: 100vh;
  padding: 5rem 10rem;
  display: flex;

  @include respond(tab-land) {
    flex-direction: column;
    padding: 0 10rem;
    min-height: auto;
  }

  @include respond(phone) {
    padding: 0;
    min-height: auto;
  }

  @include respond(mid-big-desktop) {
    min-height: auto;
  }
  &__left {
    flex: 1;

    @include respond(tab-land) {
      margin: 4rem;
    }

    @include respond(phone) {
      padding-right: 0;
    }
    & > * {
      margin: 80px 0;
    }
  }
  &__right {
    color: $text-color;
    flex: 1;
    padding-left: 10rem;
    padding-right: 5rem;
    display: flex;
    flex-direction: column;

    @include respond(tab-land) {
      padding: 0;
      margin: 4rem;
      height: auto;
    }

    & > * {
      padding-bottom: 30px;
    }

    @include respond(tab-land) {
      & > * {
        padding-bottom: 0;
      }
    }

    .info {
      p {
        margin: 10px 0;
        display: flex;
        align-items: center;
        font-size: 1.5rem;
        font-weight: 300;
      }
      &--tag {
        flex: 0.7;
        &::after {
          content: ":";
        }
      }

      &--value {
        flex: 1;
        &::after {
          content: ".";
        }

        & a {
          transition: all 0.3s;
          &:link,
          &:visited {
            text-decoration: none;
            color: inherit;
          }

          &:hover,
          &:active {
            color: $green-light;
          }
        }
      }
    }

    & > * {
      margin: 10px;
    }

    @include respond(phone) {
      & > * {
        margin: 5px;
      }
    }
  }
  &-title {
    color: grey;
    font-size: 1.4rem;
    margin-top: 50px;

    @include respond(tab-land) {
      margin-top: 0;
    }
  }

  &-intro {
    font-size: 5rem;
    font-weight: 500;
  }

  &-detail {
    color: grey;
    font-size: 1.5rem;
  }
}

.card__project {
  padding: 20px;
  display: flex;
  background-color: #2d2e32;
  border-radius: 4px;
  overflow: hidden;
  box-shadow: 0 1.5rem 4rem rgba(black, 0.15);

  &:hover &--left > &-title {
    color: $green-light;
  }

  &:hover &--left > span {
    padding-bottom: 2px;
    text-decoration: underline;
  }

  &--left {
    display: flex;
    flex-direction: column;
    flex: 1;

    & a {
      text-transform: uppercase;
      text-decoration: none;
      color: $text-color;
    }

    & > * {
      margin: 1rem 10px;
    }

    & p {
      text-transform: capitalize;
      color: grey;
      font-size: 1.2rem;
    }

    & span {
      font-size: 1.2rem;
      text-transform: uppercase;
      color: $text-color;
    }
  }
  &--right {
    display: flex;
    flex-direction: row;
  }

  &-title {
    transition: all 0.2s;
    color: $text-color;
    font-size: 2rem;
    font-style: bold;
    font-weight: 500;
  }
}

.icon-code {
  height: 30px;
  width: 30px;
}

.icon-container {
  padding: 20px;
  fill: $green-light;
}
