.introduction {
  background-color: #25262a;
  min-height: 100vh;
  padding: 5rem 10rem;
  display: flex;
  //   justify-content: center;
  //   align-items: center;

  &__left {
    flex: 1;
    // padding: 0 8rem;
    // background-color: royalblue;
    & > * {
      //   background-color: sandybrown;
      margin: 50px;
    }
  }
  &__right {
    color: $text-color;
    flex: 1;
    padding-left: 10rem;
    padding-right: 5rem;
    display: flex;
    flex-direction: column;

    & > * {
      padding-bottom: 30px;
      // margin-bottom: 100px;
      // background-color: royalblue;
    }

    // :first-child {
    //   margin-top: 50px;
    // }

    .info {
      // background-color: orangered;

      p {
        margin: 10px 0;
        // background-color: rebeccapurple;
        display: flex;
        // flex-direction: column;
        align-items: center;
        font-size: 1.5rem;
        font-weight: 300;
        // justify-content: center;
      }
      &--tag {
        flex: 0.7;
        // background-color: orchid;
        &::after {
          content: ":";
        }
      }

      &--value {
        flex: 1;
        // background-color: peru;
        &::after {
          content: ".";
        }
      }
    }

    // .education {
    //   font-size: 2rem;
    //   // font-weight: 700;
    //   &--container {
    //     font-size: 1.5rem;
    //     font-weight: 300;
    //     display: flex;
    //     // justify-content: center;
    //     // align-items: center;

    //     & > * {
    //       display: flex;
    //       flex-direction: column;
    //       align-items: center;
    //     }
    //   }
    // }

    & > * {
      margin: 10px;
    }
  }
  &-title {
    color: grey;
    font-size: 1.4rem;
    margin-top: 50px;
  }

  &-intro {
    font-size: 5rem;
    font-weight: 500;
  }

  &-quote {
    font-size: 2.8rem;
    font-weight: 400;
    font-style: italic;
    // padding-right: 20px;
  }

  &-detail {
    // background-color: red;
    color: grey;
    font-size: 1.5rem;
  }
}

.card__project {
  padding: 20px;
  display: flex;
  background-color: #2d2e32;
  //   height: 15rem;
  border-radius: 4px;
  overflow: hidden;
  box-shadow: 0 1.5rem 4rem rgba(black, 0.15);

  &:hover &--left > &-title {
    color: $green-light;
  }

  &:hover &--left > span {
    padding-bottom: 2px;
    // border-bottom: 2px white;
    text-decoration: underline;
  }

  &--left {
    // background-color: hotpink;
    display: flex;
    flex-direction: column;
    flex: 1;

    & a {
      text-transform: uppercase;
      //   background-color: red;
      text-decoration: none;
      color: $text-color;
      // border-bottom: 5px solid $green-light;
    }

    & > * {
      margin: 1rem 10px;
    }

    & p {
      text-transform: capitalize;
      color: grey;
      font-size: 1.2rem;
    }

    & span {
      font-size: 1.2rem;
      text-transform: uppercase;
      color: $text-color;
    }
  }
  &--right {
    display: flex;
    flex-direction: row;
    // background-color: slateblue;
  }

  &-title {
    transition: all 0.2s;
    color: $text-color;
    font-size: 2rem;
    font-style: bold;
    font-weight: 500;
  }
}

.icon-code {
  height: 30px;
  width: 30px;
}

.icon-container {
  padding: 20px;
  fill: $green-light;
  // background-color: indigo;
}
