.footer {
  // height: 50vh;
  // overflow: hidden;
  // background-color: chocolate;
  background-color: #25262a;
  display: flex;
  flex-direction: column;
  //   padding: 5rem;
  padding: 5rem 10rem;

  @include respond(tab-port) {
    padding: 0;
  }

  &__top {
    flex: 1;
    // background-color: royalblue;
    display: flex;

    @include respond(tab-port) {
      flex-direction: column;
      margin: 3rem 5rem;
      // justify-content: center;
      align-items: stretch;
      // margin-bottom: 3rem;
      // & > * {
      //   // background-color: darkgreen;
      // }
    }
    &--left {
      // background-color: chocolate;
      flex: 1;
      display: flex;
      flex-direction: column;
      padding: 0 2rem;
      justify-content: center;
      // align-items: center;
      color: $text-color;

      @include respond(tab-port) {
        padding: 0;
        margin-bottom: 3rem;
      }

      & h4 {
        font-size: 3.2rem;
        font-weight: 500;

        & a {
          text-decoration: none;
          color: $green-light;
          border-bottom: 3px solid transparent;
          transition: all 0.3s;
          &:hover {
            border-bottom: 3px solid $green-light;
          }
        }
      }

      // background-color: sandybrown;
    }
    &--right {
      // background-color: crimson;
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      align-items: flex-start;
      padding: 0 2rem;

      @include respond(tab-port) {
        padding: 0;
        // background-color: red;

        // margin-bottom: 13rem;
        // & > * {
        //   margin-bottom: 10rem;
        // }
      }

      & .title {
        // background-color: blue;
        font-size: 1.3rem;
        color: grey;
        margin-bottom: 1rem;
      }
      & .address {
        font-size: 1.5rem;
        text-transform: uppercase;
        color: grey;
        margin-bottom: 1rem;

        @include respond(tab-port) {
          font-weight: 500;
          // color: $text-color;
        }
      }
      & .email {
        color: $text-color;
        font-size: 2rem;
        margin-bottom: 1rem;

        & a {
          transition: all 0.3s;
          &:link,
          &:visited {
            text-decoration: none;
            color: inherit;
          }

          &:hover,
          &:active {
            color: $green-light;
          }
        }
      }
      flex: 0.6;
      // background-color: seagreen;
    }
  }
  &__bottom {
    flex: 0.4;
    // background-color: saddlebrown;
    // background-color: #25262a;

    display: flex;
    margin-top: 2rem;
    &--left {
      // background-color: darkorchid;
      padding: 0 2rem;
      flex: 1;
      display: flex;
      color: $text-color;
      align-items: center;
      // background-color: #25262a;

      // background-color: lavenderblush;
      @include respond(tab-port) {
        flex-direction: column;
        padding-bottom: 2rem;
        // justify-content: center;
        // align-items: center;
        // align-items: center;
      }

      .my-name {
        // display: flex;
        // background-color: lightblue;
        font-size: 2.5rem;
        font-weight: 700;
        transition: all 0.3s;
        // align-items: center;

        @include respond(tab-port) {
          margin-bottom: 2rem;

          &::before {
            content: "Build with ❤️ by ";
            font-weight: 400;
            color: grey;
            // background-color: #25262a;
          }
        }

        &:hover {
          color: $green-light;
        }

        span {
          margin-left: 0.6rem;
        }
      }

      h5 {
        // background-color: lavenderblush;
        // display: flex;
        font-size: 1.2rem;
        // align-items: center;
        // background-color: lightcoral;
        color: grey;
        margin-left: 4rem;
      }

      // background-color: lemonchiffon;
    }

    &--right {
      // background-color: darkgreen;
      padding: 0 2rem;
      flex: 0.6;
      // background-color: lightcoral;
      display: flex;
      align-items: center;
      // justify-content: space-evenly;
      :not(:first-child) {
        margin-left: 5rem;
      }

      // & > * {
      //   margin-bottom: 1rem;
      // }

      @include respond(tab-port) {
        display: none;
        // background-color: red;
        // visibility: hidden;
      }
    }
  }

  .nav__icon-container {
    // background-color: red;
    // margin: 0rem 2rem;
    &:hover .icon-social {
      fill: $green-light;
    }
  }

  .icon-social {
    height: 20px;
    width: 20px;
    fill: white;
    transition: all 0.2s;

    // background-color: lawngreen;
  }

  &-nav {
    // background-color: darkgoldenrod;
    display: flex;
    flex-direction: column;
    color: $text-color;
    padding: 0 5px;
    font-weight: 600;
    // flex: 1;

    :not(:last-child) {
      margin-bottom: 1rem;
    }

    @include respond(tab-port) {
      // background-color: darkblue;
      // flex-direction: row;
      display: none;
      // justify-items: end;
      // align-items: center;
    }

    &__title {
      &:link,
      &:visited {
        color: inherit;
        text-decoration: none;
        font-size: 1.5rem;
        font-weight: 400;

        transition: all 0.2s;
      }

      &:hover,
      &:active {
        color: $green-light;
      }
    }
  }
}

// .copyright {
//   background-color: red;
//   padding: 0;
// }

// display: flex;
// justify-content: center;
// align-items: center;
// // background-color: red;
// flex-grow: 0.2;
// font-size: 2rem;
// font-weight: 700;

// &:hover {
//   color: $green-light;
// }
