.footer {
  background-color: #25262a;
  display: flex;
  flex-direction: column;
  padding: 5rem 10rem;

  @include respond(tab-port) {
    padding: 0;
  }

  &__top {
    flex: 1;
    display: flex;

    @include respond(tab-port) {
      flex-direction: column;
      margin: 3rem 5rem;
      align-items: stretch;
    }
    &--left {
      flex: 1;
      display: flex;
      flex-direction: column;
      padding: 0 2rem;
      justify-content: center;
      color: $text-color;

      @include respond(tab-port) {
        padding: 0;
        margin-bottom: 3rem;
      }

      & h4 {
        font-size: 3.2rem;
        font-weight: 500;

        & a {
          text-decoration: none;
          color: $green-light;
          border-bottom: 3px solid transparent;
          transition: all 0.3s;
          &:hover {
            border-bottom: 3px solid $green-light;
          }
        }
      }
    }
    &--right {
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      align-items: flex-start;
      padding: 0 2rem;

      @include respond(tab-port) {
        padding: 0;
      }

      & .title {
        font-size: 1.3rem;
        color: grey;
        margin-bottom: 1rem;
      }
      & .address {
        font-size: 1.5rem;
        text-transform: uppercase;
        color: grey;
        margin-bottom: 1rem;

        @include respond(tab-port) {
          font-weight: 500;
        }
      }
      & .email {
        color: $text-color;
        font-size: 2rem;
        margin-bottom: 1rem;

        & a {
          transition: all 0.3s;
          &:link,
          &:visited {
            text-decoration: none;
            color: inherit;
          }

          &:hover,
          &:active {
            color: $green-light;
          }
        }
      }
      flex: 0.6;
    }
  }
  &__bottom {
    flex: 0.4;

    display: flex;
    margin-top: 2rem;
    &--left {
      padding: 0 2rem;
      flex: 1;
      display: flex;
      color: $text-color;
      align-items: center;
      @include respond(tab-port) {
        flex-direction: column;
        padding-bottom: 2rem;
      }

      .my-name {
        cursor: pointer;
        font-size: 2.5rem;
        font-weight: 700;
        transition: all 0.3s;

        @include respond(tab-port) {
          margin-bottom: 2rem;

          &::before {
            content: "Build with ❤️ by ";
            font-weight: 400;
            color: grey;
          }
        }

        &:hover {
          color: $green-light;
        }

        span {
          margin-left: 0.6rem;
        }
      }

      h5 {
        font-size: 1.2rem;
        color: grey;
        margin-left: 4rem;
      }
    }

    &--right {
      padding: 0 2rem;
      flex: 0.6;
      display: flex;
      align-items: center;
      :not(:first-child) {
        margin-left: 5rem;
      }

      @include respond(tab-port) {
        display: none;
      }
    }
  }

  .nav__icon-container {
    cursor: pointer;
    &:hover .icon-social {
      fill: $green-light;
    }
  }

  .icon-social {
    height: 20px;
    width: 20px;
    fill: white;
    transition: all 0.2s;
  }

  &-nav {
    display: flex;
    flex-direction: column;
    color: $text-color;
    padding: 0 5px;
    font-weight: 600;

    :not(:last-child) {
      margin-bottom: 1rem;
    }

    @include respond(tab-port) {
      display: none;
    }

    &__title {
      &:link,
      &:visited {
        color: inherit;
        text-decoration: none;
        font-size: 1.5rem;
        font-weight: 400;

        transition: all 0.2s;
      }

      &:hover,
      &:active {
        color: $green-light;
      }
    }
  }
}
