.project {
  background-color: $primary;
  padding: 5rem 15rem;
  &__container {
    display: grid;
    grid-template-rows: repeat(6, 1fr);
    grid-template-columns: repeat(2, 1fr);
    row-gap: 20px;
    column-gap: 10%;

    @include respond(tab-port) {
      padding: 10rem 5rem;
    }

    @include respond(phone) {
      grid-template-columns: repeat(1, minmax(0px, 1fr));
      grid-template-rows: repeat(5, max-content);
    }
  }

  @include respond(tab-port) {
    padding: 0;
  }

  &--title {
    display: flex;
    justify-content: center;
    grid-row: 1/2;
    grid-column: 1/2;
    font-size: 3rem;
    color: $text-color;
    font-weight: 500;
    text-transform: uppercase;

    @include respond(phone) {
      grid-row: 1/2;
      grid-column: 1/2;
      justify-content: start;
      margin-bottom: 5rem;
    }
  }

  &--all-projects {
    text-decoration: none;
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    grid-row: 5/6;
    grid-column: 1/2;
    color: $green-light;
    font-size: 3rem;

    & a {
      border-bottom: 3px solid transparent;
      transition: all 0.3s;
      &:hover {
        border-bottom: 3px solid $green-light;
      }
    }

    @include respond(phone) {
      grid-row: 5/6;
      grid-column: 1/2;
      // padding: 5rem;
      margin-top: 5rem;
    }
  }
  .all-project--description {
    grid-row: 6/7;
    grid-column: 1/2;
    display: flex;
    justify-content: center;
    color: grey;
    font-size: 1.2rem;
    font-weight: 400;

    @include respond(phone) {
    }
  }

  &-container {
    background-color: #25262a;
    border-radius: 15px;
    box-shadow: 0 1.5rem 4rem rgba(black, 0.15);
    display: flex;
    position: relative;
    flex-direction: column;
    width: 100%;
    height: 100%;
    overflow: hidden;
    transition: all 0.2s;
    &:hover {
      transform: scale(1.07);
    }

    &--top {
      flex: 0.5;
      display: flex;

      .project-title {
        display: flex;
        align-items: center;
        justify-content: start;
        flex: 1;
        padding: 20px;
        color: $text-color;
        font-size: 2.5rem;
        font-weight: 500;
        text-transform: capitalize;
      }
      .project-tags {
        flex: 0.6;
        display: flex;
        align-items: center;

        @include respond(phone) {
          :last-child {
            margin-right: 1rem;
          }
        }

        & > * {
          background-color: #4d4e52;
          border-radius: 2px;
          padding: 5px;
          margin: 0 2px;
          color: $text-color;
        }

        .tag {
          color: rgb(155, 155, 155);
          text-transform: uppercase;
        }
      }
    }
    &--bottom {
      object-fit: cover;
      flex: 1;
      display: flex;
      .img--1 {
        transform: scale(1.05);
      }
      .img--2 {
        border-radius: 15px 0 0 0;
        transform: translate(15%, 35%) rotate(20deg);
      }
      .img--3 {
        border-radius: 15px 0 0 0;
        transform: translateX(15%);
      }
    }

    .bottom--1 {
    }
  }

  &-image {
    height: 100%;
    width: 100%;
  }

  .container--1 {
    grid-row: 2/5;
    grid-column: 1/2;
    background-image: linear-gradient(to right, #16191e, #222126);

    @include respond(phone) {
      grid-row: 2/3;
      grid-column: 1/2;
    }
  }
  .container--2 {
    grid-row: 1/4;
    grid-column: 2/3;
    background-image: linear-gradient(to right, #2d3037, #2b2e35);

    @include respond(phone) {
      grid-row: 3/4;
      grid-column: 1/2;
    }
  }
  .container--3 {
    grid-row: 4/7;
    grid-column: 2/3;
    background-color: #171a2b;

    @include respond(phone) {
      grid-row: 4/5;
      grid-column: 1/2;
    }
  }
}
